beautifulsoup4==4.9.3
Flask==2.2.5
Flask-Cors==4.0.1
Flask-PyMongo==2.3.0
gunicorn==22.0.0
h5py==2.10.0
pandas==1.1.5
pymongo==4.6.3
pyvi==0.1
requests==2.32.2
regex==2023.6.3
python-dotenv==0.21.1
fuzzywuzzy==0.18.0
django-admin==2.0.2
django==3.2.25
djangorestframework==3.15.2